.page-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-list-container {
  width: 80%;
}

.list-container {
  width: 240px;
  margin: 20px;
}

.list-container .title {
  text-align: center;
}
